<div class="dashboard__notification">
    <h2 class="ml-5">Digital</h2>
    <div class="usermenu">
      <div class="avatar"><span class="notification">2</span></div><span class="dropdown">Ekrem Nurovic
        <nav>
          <ul>
            <li> <a href="">Change Password</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          </ul>
        </nav></span>
</div>
    </div>
    <div class="navBar">
      <nav class="nav">
        <div class="nav__element active">
        <div class="nav__element"><i class="fas fa-plus-square"><span><%= link_to 'Post', new_post_path %></span></i></div>
        <div class="nav__element"><i class="fa fa-credit-card"><span><%= link_to 'About', about_path %></span></i></div>
        <div class="nav__element"><i class="fa fa-cog"> <span><%= link_to 'Log In',  user_session_path %></span></i></div>
      </nav>
    </div>








